<!-- Static navbar -->
{% load staticfiles %}

<nav class="navbar navbar-default navbar-static-top" style="font-size:15px">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse" >
      <ul class="nav navbar-nav" style="padding-left:10px">
          <li><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li><a href="#"><strong>Login Name : </strong>[ {{ request.user.first_name }}  {{ request.user.last_name }} ]</a></li>
        <li><a href="{% url 'auth_login' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'auth_logout' %}">Login</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
